/* Element rules */


/* Class rules */
.App {
  text-align: center;
  justify-items: center;
  width: 75vw;
  height: 70vh;
}

.chatField{
  background-color: aliceblue;
  border: 4px, solid, rgb(136, 136, 136);
  border-radius: 80px;
  height:100%;
  width: 40%;
  box-shadow: inset 0 0 20px 2px rgba(0, 0, 0, 0.3);
}

/* ID rules */
#userPrompt{
  width: 40%;
  height: 30%;
}

#userPrompt textarea{
  resize: none;
  border: 4px, solid, rgb(136, 136, 136);
  border-radius: 30px;
  max-width: 100%;
  padding: 10px 5px;
  margin-top: 10px;
}